.content {
  position: relative;
  background-image: url("../../../../../assets/elephant.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px;

  transition: all 0s;

  .play-symbol-container {
    position: absolute;
    top: 80px;
    left: 80px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 20px;
  }
}
