.icon-container {
  padding: 12px 16px;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 30px;
  width: 23px;
  // height: 30px;

  &:hover {
    cursor: pointer;

    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    transition: box-shadow 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);

    .icon {
      color: rgba(255, 255, 255, 1);
    }
  }

  .icon {
    margin-top: 3px;
    color: rgba(255, 255, 255, 0.6);
  }
}
