.container {
  z-index: 10000;
  position: relative;

  .number {
    font-size: 30px;
    line-height: 30px;
    width: 30px;
    color: white;
    text-align: center;
  }

  .star {
    color: rgb(251, 255, 0);
    font-size: 160px;

    position: absolute;
    top: -70px;
    left: -63px;
  }
}
