$background-color: rgba(2, 87, 8, 1);
$background-color-hover: rgba(4, 142, 26, 1);

@mixin left-door-color($main-color) {
  background: rgb(3, 105, 10);
  background: linear-gradient(270deg, rgba(3, 105, 10, 1) 0%, $main-color 3%);
}

@mixin right-door-color($main-color) {
  background: rgb(1, 51, 4);
  background: linear-gradient(270deg, rgba(1, 51, 4, 1) 0%, $main-color 3%);
}

.door-container {
  position: relative;
  box-sizing: border-box;
  display: block;
  // padding: 100px 100px;
  margin: 10px;
  transition: box-shadow 0.2s ease-in-out;

  &.closed {
    .number {
      z-index: 200;
      position: absolute;
      top: 140px;
      left: 133px;

      transition: color 0.2s ease-in-out;
    }

    @media (hover: hover) {
      &:hover {
        .cover {
          &.left {
            @include left-door-color($background-color-hover);
          }

          &.right {
            @include right-door-color($background-color-hover);
          }
        }
        cursor: pointer;

        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.75);
        transition: box-shadow 0.2s ease-in-out;

        .number {
          color: yellow;
          font-weight: bold;

          transition: color 0.2s ease-in-out;
          // transition: font-weight 0.4s ease-in-out;
        }
      }
    }
  }

  &.open {
    .number {
      display: none;
    }
  }

  .cover {
    z-index: 100;
    box-sizing: border-box;
    // height: 90%;
    position: absolute;
    top: 0px;

    // background: rgba(2, 87, 8, 1);
    display: inline-block;
    margin: 0;
    padding: 50% 0;
    padding-right: 51%;

    &.open {
      width: 0;
      padding-right: 0;
      transition: padding-right 0.5s ease-in-out;
    }

    &.left {
      @include left-door-color($background-color);
      left: -1%;
    }

    &.right {
      @include right-door-color($background-color);
      right: -1%;
      transform: rotate(180deg);
    }
  }
}

// width: 200px;
// max-width: 200px;
