.door-container {
  box-sizing: content-box;
  display: inline-block;
  padding: 100px;
  margin: 10px;
  background: rgba(2, 87, 8, 1);
  transition: box-shadow 0.2s ease-in-out;

  &.open {
    background-image: url("../../../assets/elephant.jpg");
    background-position: center;
    background-repeat: no-repeat;

    .number {
      visibility: hidden;
    }

    &:hover {
      background-size: 100%;
    }

    transition: all 0s;
  }

  &:hover {
    cursor: pointer;
    // position: fixed;
    // padding: 115px;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.75);
    transition: box-shadow 0.4s ease-in-out;
  }

  &.closed:hover {
    background: rgba(4, 142, 26, 1);

    .number {
      color: yellow;
      font-weight: bold;

      transition: color 0.4s ease-in-out;
      // transition: font-weight 0.4s ease-in-out;
    }
  }
  // width: 200px;
  // max-width: 200px;

  .number {
    font-family: monospace;
    color: white;
    text-align: center;

    font-size: 2em;
    width: 1em;

    transition: color 0.2s ease-in-out;
    // transition: font-weight 0.2s ease-in-out;
  }
}
