.content {
  overflow: hidden;
  position: relative;
  // background-image: url("../../../../../assets/elephant.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
  padding: 150px;

  transition: all 0s;
  .icon-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    position: absolute;
    top: 130px;
    left: -100px;
    width: 500px;

    .icon.play-video-button {
      display: block;
    }

    .icon.play-sound-button {
      display: block;
    }
  }
}
