<div
  (click)="onClick()"
  class="door-container"
  [ngClass]="date.isOpened ? 'open' : 'closed'"
>
  <ac-calendar-date
    class="number"
    [starred]="dateHasPassed()"
    [dayNumber]="date.dayNumber"
  ></ac-calendar-date>
  <div
    class="cover left closed"
    [ngClass]="{ open: date.isOpened }"
    #leftCover
  ></div>
  <div
    class="cover right"
    [ngClass]="{ open: date.isOpened }"
    #rightCover
  ></div>
  <ac-door-content
    [date]="date"
    (videoSelected)="propagateVideoSelected($event)"
  ></ac-door-content>
</div>
