/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Roboto", sans-serif;
  background: rgb(36, 0, 0);
  background: linear-gradient(
    133deg,
    rgba(36, 0, 0, 1) 0%,
    rgba(121, 9, 33, 1) 35%,
    rgba(255, 0, 0, 1) 100%
  );
  min-height: 100vh;
}
